<section id="banner">
    <!--This will be the welcome message-->
    <div id="welcomeM">
        <h2>Welcome to Smart Pump,</h2>
        <h4>where your needs drive our innovation.</h4>
    </div>
    <!--here is the photo of the client-->
    <figure>
        <img src="<%= photo %>" alt="">
    </figure>
    <div id="BannerPages">
        <span id="pageIdentifier">Home</span>
    </div>
</section>