<footer>
    <div id="logoAndNetworks">
        <div id="logo">
            <span>
                Smart Pump
            </span>
        </div>
        <ul id="networks">
            <li><i class='bx bxl-facebook-circle' ></i></li>
            <li><i class='bx bxl-instagram-alt' ></i></li>
            <li><i class='bx bxl-twitter' ></i></li>
            <li><i class='bx bxl-linkedin-square' ></i></li>
        </ul>
    </div>
    <div id="legalDisclaimer">
        <ul>
            <li>Legal Notice</li>
            <li>Site Map</li>
            <li>Privacy Notice</li>
        </ul>
        <div id="Consult">
            <p>
                Consult the costs and commissions of our products
            </p>
        </div>
    </div>
    <div id="SA">
        <div class="SA_txtCont">
            <p>
                © 2024 Smart Pump México, S.A., Institución de Banca Múltiple, Grupo 
                Financiero Smart Pump México. Avenida Paseo de la Reforma 510, 
                colonia Juárez, postal code 06600, alcaldía Cuauhtémoc, Mexico City.
            </p>
        </div>
    </div>
</footer>