<header>
    <figure id="splogo_cont">
        <img src="/assets/logo.png" alt="Smart Pump logo">
    </figure>
    <div id="menuBurger">
        <i class='bx bx-menu' id="bm"></i>
    </div>
</header>

<section id="dropDownMenu">
    <ul>
        <li><span>Hello</span> <%- user.name.first %> <%- user.name.last %></li>
        <li onclick="logout()">Cerrar sesión</li>
        <li>
            <a href="/user/balance">Balance</a>
        </li>
        <li>
            <a href="/user/me">Edit</a>
        </li>
    </ul>
</section>