<header>
    <figure id="splogo_cont">
        <img src="/assets/logo.png" alt="Smart Pump logo">
    </figure>
    <div id="menuBurger">
        <i class='bx bx-menu'></i>
    </div>
    <!--button onclick="logout()">Cerrar sesión</!--button>-->
</header>