<header>
    <figure id="splogo_cont">
        <a href="/user">
            <img src="/assets/logo.png" alt="Smart Pump logo">
        </a>
    </figure>
    <div id="menuBurger">
        <i class='bx bx-menu' id="bm"></i>
    </div>
</header>

<section id="dropDownMenu">
    <ul>
        <li><span>Hello</span> <%- name%></li>
        <li onclick="logout()">Cerrar sesión</li>
        <li>
            <a href="/user/balance">Balance</a>
        </li>
        <li>
            <a href="/user/details">Edit</a>
        </li>
    </ul>
</section>